body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("/images/banner.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.button-style {
    height: 2.2rem;
    padding: 0 2rem 0 2rem;
    margin: 0 2rem 0 2rem;
    font-size: 0.8rem;
    border-style: none;
    width: fit-content;
}

.prev_image {
    width: 100%;
    max-width: 480px;
    height: auto;
}

.inner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 480px;
    width: fit-content;
    align-items: center;
    margin: 40px 0 40px 0;
}

video {
    width: 100%;
}

.canvas,
#finish,
#reset {
    display: none;
}

.banner_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner {
    margin-bottom: 6rem;
}

.title {
    letter-spacing: -0.025em;
    font-weight: 800;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
}

.title2 {
    display: inline-block;
    color: #ec255a;
}

.subtitle {
    margin-top: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #292c6d;
}


@media (min-width: 640px) {
    .title {
        font-size: 3rem;
        line-height: 1;
    }

    .subtitle {
        margin-top: 1.25rem;
        max-width: 36rem;
    }
}


@media (min-width: 768px) {
    .title {
        font-size: 3.75rem;
        line-height: 1;
    }

    .subtitle {
        margin-top: 1.25rem;
    }
}


@media (min-width: 1024px) {
    .container {
        text-align: left;
    }

    .title2 {
        display: inline;
    }
}

@media (min-width: 1280px) {
    .title2 {
        display: inline;
    }
}

.footer-distributed{
	background-color: transparent;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{

	color: #5383d3;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #112f63;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #000;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}